section.blue {
  margin-top: -20px;
}

div.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

div#calendar {  
  margin-top: 36px;  
}

@media only screen and (max-width: 700px) {
  div.calendar-container h2 { 
    font-size: 16px;
    margin-left: 8px;
  }
}

div.calendar-container button {
  margin-top: 24px;
  background-color:  rgb(0, 132, 255);
  border: 0;
  border-radius: 24px;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  transition: 400ms;
  cursor: pointer;
}
