@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");

:root{
  --primary-color: rgb(0, 132, 255);
  --primary-color-dark: rgb(0, 113, 219);
}

body {
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f5;
}

a:hover{
  text-decoration: none;
  color: white;
}

select,
input,
button:active {
  outline: none;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  background-image: url(../img/banner2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner h1 {
  color: white;
  font-size: 55px;
  font-weight: 600;
  text-shadow: 0px 0px 14px rgba(10, 10, 10, 1);
  margin-bottom: 28px;
}

.banner form {
  display: flex;
  overflow: hidden;  
  color: #626262;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.banner form input {
  height: 100%;
  border: 0;
}

.banner form select.first-select {
  border-radius: 12px 0 0 12px;
}

.banner form select{
  border: 0;
}

.banner form button {
  height: 50px;
  width: 50px;
  border-radius: 0 12px 12px 0;
  border: 0;
  background-color: rgb(0, 132, 255);
  color: white;
  transition: 400ms;
}

.banner form button img {
  width: 20px;
}

.banner form button:hover {
  background-color: rgb(1, 115, 223);
}

.planos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planos .plano {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 120px 30px 30px 30px;
  border-radius: 8px;
  transition: 500ms;
  box-shadow: 0px 0px 54px -22px rgba(84,84,84,1);
  padding: 20px;
  max-width: 500px;
}

.planos .plano h4 {
  margin-bottom: 16px;
}

.planos .plano img {
  width: 80%;
}

.planos .plano p {
  margin: 16px auto;
}

.planos .plano button {
  background-color:  rgb(0, 132, 255);
  border: 0;
  border-radius: 24px;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  transition: 400ms;
  cursor: pointer;
}

.planos .plano button:hover {
  background-color:rgb(1, 115, 223);
}

.ver-planos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.ver-planos a {
  text-decoration: none;
  text-align: center;
  color:  white;
  background-color: rgb(0, 132, 255);;
  font-weight: 600;
  margin-right: 40px;
  font-size: 16px;
  padding: 12px;
  border-radius: 24px;
  transition: 400ms;
}

.ver-planos a:hover{
  background-color: rgb(2, 116, 223);
  color: white;
  text-decoration: none;
}


.blue {
  background-color: rgb(0, 132, 255);
  margin: 100px 0 0 0;
  padding: 50px;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 46px;
  margin-bottom: 20px;
}

.texts h1{
  font-size: 42px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .item {
  display: flex;
  background-color: #f1f1f5;
  border-radius: 6px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  color:  rgb(71, 71, 71);
  padding: 10px;
  transition: 400ms;
}

.content .item:hover{
  background-color: #e2e2e2;
}

.content .item h4, h5 {
  margin: 10px;    
}

.content .item h5{
  color: rgb(0, 132, 255);
  margin-top: 12px;
}

.content .item a{
  display: flex;
  width: 30px;
  align-items: center;
  justify-content: center;
}

.content .item a img {
  width: 50%;
}

.coisas{
  background-color: rgb(235, 235, 235);
  padding: 5%;
}

.coisas h1{
  color: #3c3557;
}

.coisas .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.coisas .row .coisa{
  width: 350px;
  color: #626262;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  text-align: center;
  
}

.coisas .row .coisa h3{
  color: #3c3557;
}

.coisas .row .coisa img{
  width: 60px;
}
.sua-viagem {
  display: flex;
  margin: 100px 0 0 0;

}

.sua-viagem img {
  width: 45%;
  margin: 0 50px 50px 50px;
}

.sua-viagem div {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.sua-viagem div a {
  background-color: var(--primary-color);
  max-width: 200px;
  color: white;
  border-radius: 24px;
  border: 0;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: 400ms;
  text-decoration: none;
  text-align: center;
}

.sua-viagem div a:hover {
  background-color: var(--primary-color-dark);
}