@media only screen and (max-width: 800px) {
  
    .banner{
        margin-bottom: 20px;
    }
    .banner h1{
        font-size: 35px;
        text-align: center;
        margin: 0 20px 20px 20px;
    }

    .banner form{
        flex-direction: column;
    }

    .banner form select{
        height: 100%;
    }

    .banner form select.first-select{
        border-radius: 12px 12px 0 0;
    }

    .banner form button {
        width: 100%;
        border-radius: 0 0 12px 12px;
    }

    .blue .texts h1, h3{
        line-height: 1em;
    }

    .planos{
        flex-direction: column;
    }

    .planos .plano{
        margin-top: 10px;
        width: 260px;
        min-width: 100px;
    }

    .blue .content{
        flex-direction: column;
    }

    .coisas{
        padding: 10% 0;
    }

    .coisas h1{
        margin: 5% 10%;
    }

    .sua-viagem{
        flex-direction: column;
    }

    .sua-viagem img{
        width: 70%;
    }

    .sua-viagem div{
        margin: 0 40px 40px 40px;
    }

    footer{
        padding: 60px 6px;
    }

    footer p{
        font-size: 16px;
    }
    
}


